body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 2px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 2px;
  justify-content: space-between;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
